{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "@": "./src",
          "@api": "./src/api",
          "@modules": "./src/modules"
        }
      }
    ]
  ]
}
