{
  "plugins": [
    "transform-object-rest-spread",
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "@models": "./models",
          "@graphql": "./graphql",
          "@app": "./app.js"
        }
      }
    ]
  ]
}
