{
  "plugins": [
    "transform-object-rest-spread",
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "@graphql": "./src/graphql",
          "@src": "./src",
          "@models": "./src/models"
        }
      }
    ]
  ]
}
